In [ ]:
print("Hello")

In [ ]:
import sqlite3 as sql
import pandas as pd

# connect to same file-based DB
connection = sql.connect("mydb.db")

df = pd.read_sql_query(
    "SELECT grade, COUNT(*) as count FROM students GROUP BY grade",
    connection
)

print(df)